<div *ngIf="isLoading" 
     class="splash-screen">
    <div class="spinner">
        <span class="ball-1"></span>
        <span class="ball-2"></span>
        <span class="ball-3"></span>
        <span class="ball-4"></span>
        <span class="ball-5"></span>
        <span class="ball-6"></span>
        <span class="ball-7"></span>
        <span class="ball-8"></span>
    </div>
</div>
<div *ngIf="identityService.isAuthenticated" 
     class="layout-wrapper layout-menu-light" 
     (click)="onLayoutClick()"
     [ngClass]="{'layout-horizontal': horizontalMenu,
                'layout-wrapper-static': staticMenuActive,
                'layout-rightpanel-active': rightPanelActive,
                'layout-topbar-mobile-active': topbarMobileMenuActive,
                'layout-megamenu-mobile-active': megaMenuMobileActive,
                'layout-sidebar-mobile-active': menuMobileActive}" 
     [class]="menuColor">

    <app-menu></app-menu>

    <div class="layout-main">
        <app-topbar></app-topbar>

        <app-rightpanel></app-rightpanel>

        <app-breadcrumb></app-breadcrumb>

        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>

        <app-config></app-config>

        <div class="layout-main-mask"></div>

        <div class="layout-config-mask" *ngIf="configDialogActive" [@mask-anim]="'visible'"></div>
    </div>
</div>
