<p-toast position="top-right"></p-toast>
<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch" icon="pi pi-circle-on" (click)="changeDark(true)"></p-button>
            <p-button styleClass="light-switch" icon="pi pi-circle-off" (click)="changeDark(false)"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/img/ABA.png" alt="AbaToday Logo" />
                </div>
                <h1> Sign in with social networks </h1>

                <button _ngcontent-hix-c2="" class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()">
                    <span _ngcontent-hix-c2="" class="fab fa-google"></span>
                </button>
                <button _ngcontent-hix-c2="" class="btn btn-social-icon btn-facebook mx-1 btn btn-primary" (click)="signInWithFB()">
                    <span _ngcontent-hix-c2="" class="fab fa-facebook"></span>
                </button>
                <button (click)="signOut()">
                    Sign Out
                </button>

                <div *ngIf="user" style="margin-top:50px">
                    <img src="{{ user.photoUrl }}">
                    <div>
                        <h4>{{ user.name }}</h4>
                        <p>{{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="desert"></div>
    </div>
</div>
