<div class="layout-footer">
    <div class="logo-text">
        <img src="assets/img/logo-2.png" alt="AbaToday" />
        <div class="text">
            <h1>AbaToday</h1>
            <!--<span>Some cool slogan here</span>-->
        </div>
    </div>
    <div class="icons">
        <div class="icon">
            <i class="pi pi-home"></i>
        </div>
        <div class="icon">
            <i class="pi pi-globe"></i>
        </div>
        <div class="icon">
            <i class="pi pi-bookmark"></i>
        </div>
    </div>
</div>