<p-toast position="top-right"></p-toast>
<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch" icon="pi pi-circle-on" (click)="changeDark(true)"></p-button>
            <p-button styleClass="light-switch" icon="pi pi-circle-off" (click)="changeDark(false)"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/img/logo-2.png" alt="AbaToday Logo" />
                </div>
                <h1>{{ 'ACCOUNT.RESTOREPASSWORD.PAGETITLE' | translate }}</h1>
                <!--<p>Welcome, please use the form to sign-in Mirage network</p>-->
                <form #forgotPasswordForm="ngForm">
                    <p class="lead text-center">
                        {{ 'ACCOUNT.RESTOREPASSWORD.MESSAGERESTORE' | translate }}
                    </p>
                    <p-message *ngIf="error"
                               severity="error"
                               [text]="error"></p-message>
                    <p-message *ngIf="emailSent"
                               severity="success"
                               [text]="'ACCOUNT.RESTOREPASSWORD.EMAILSENT' | translate"></p-message>
                    <div class="forms">
                        <div class="login-input-wrapper">
                            <label for="inputEmail">{{ 'ACCOUNT.LOGIN.FIELDS.EMAIL' | translate }}</label>
                            <input pInputText
                                   id="inputEmail"
                                   name="inputEmail"
                                   type="email"
                                   required
                                   [placeholder]="'ACCOUNT.LOGIN.FIELDS.EMAIL' | translate"
                                   maxlength="128"
                                   [(ngModel)]="forgotPassword.emailAddress" />
                            <i class="pi pi-envelope"></i>
                        </div>
                        <div class="buttons">
                            <button pButton
                                    type="button"
                                    [disabled]="!forgotPasswordForm.form.valid || isLoading"
                                    (click)="sendForgotPasswordEmail()"
                                    [label]="'ACCOUNT.RESTOREPASSWORD.SENDEMAIL' | translate"></button>
                            <a class="secondary-button" [routerLink]="['/account/login']">
                                {{ 'ACCOUNT.REGISTER.FIELDS.LOGIN' | translate }}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="desert"></div>
    </div>
</div>
