<p-toast position="top-right"></p-toast>
<div class="login-body" [ngClass]="{'layout-dark': dark, 'layout-light': !dark}">
    <div class="login-content">
        <div class="night-switch">
            <p-button styleClass="dark-switch" icon="pi pi-circle-on" (click)="changeDark(true)"></p-button>
            <p-button styleClass="light-switch" icon="pi pi-circle-off" (click)="changeDark(false)"></p-button>
        </div>
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo">
                    <img src="assets/img/logo-2.png" alt="AbaToday Logo" />
                </div>
                <h1>{{ 'ACCOUNT.RESTOREPASSWORD.PAGETITLE' | translate }}</h1>
                <form #resetPasswordForm="ngForm">
                    <div class="forms">
                        <div class="login-input-wrapper">
                            <label for="inputEmail">{{ 'ACCOUNT.REGISTER.FIELDS.EMAIL' | translate }}</label>
                            <input pInputText
                                   id="inputEmail"
                                   name="inputEmail"
                                   type="email"
                                   readonly
                                   [placeholder]="'ACCOUNT.REGISTER.FIELDS.EMAIL' | translate"
                                   maxlength="128"
                                   [(ngModel)]="resetPassword.emailAddress" />
                            <i class="pi pi-envelope"></i>
                        </div>
                        <div class="login-input-wrapper">
                            <label for="inputPassword">{{ 'ACCOUNT.LOGIN.FIELDS.PASSWORD' | translate }}</label>
                            <input pPassword
                                   type="password"
                                   id="inputPassword"
                                   name="inputPassword"
                                   required
                                   [placeholder]="'ACCOUNT.LOGIN.FIELDS.PASSWORD' | translate"
                                   [feedback]="true"
                                   maxlength="128"
                                   [(ngModel)]="resetPassword.password" />
                            <i class="pi pi-lock"></i>
                        </div>
                        <div class="login-input-wrapper">
                            <label for="inputConfirmPassword">{{ 'ACCOUNT.REGISTER.FIELDS.CONFIRMPASSWORD' | translate }}</label>
                            <input pPassword
                                   type="password"
                                   id="inputConfirmPassword"
                                   name="inputConfirmPassword"
                                   required
                                   [placeholder]="'ACCOUNT.REGISTER.FIELDS.CONFIRMPASSWORD' | translate"
                                   [feedback]="true"
                                   maxlength="128"
                                   [(ngModel)]="resetPassword.confirmPassword" />
                            <i class="pi pi-lock"></i>
                        </div>
                        <div class="buttons">
                            <button pButton
                                    type="button"
                                    [disabled]="!resetPasswordForm.form.valid || isLoading || arePasswordsInvalid()"
                                    (click)="doResetPassword()"
                                    [label]="'ACCOUNT.RESTOREPASSWORD.FIELDS.SETPASSWORD' | translate"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="desert"></div>
    </div>
</div>
