<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h1>
                <i class="fas fa-fw fa-user-tag"></i>
                {{ 'SECURITY.MANAGEROLES.LIST.PAGETITLE' | translate }}
                <small class="float-right">
                    <a class="btn btn-sm btn-link"
                       [routerLink]="['add']">
                        <i class="far fa-plus-square"></i>
                        {{ 'GENERAL.ADDNEW' | translate }}
                    </a>
                </small>
            </h1>
        </div>
    </div>
    <div class="p-col-12">
        <div class="card">
            <app-grid #grid
                      entityName="roles"
                      deleteActionId="ROLDEL"></app-grid>
        </div>
    </div>
</div>